!!!
%html
  %head
    %title= "Real time web chat"
    %link{rel: "stylesheet", type: "text/css", href: "css/main.css"}
    %link{rel: "stylesheet", type: "text/css", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}

    %script{src: 'http://code.jquery.com/jquery-latest.min.js'}
    %script{src: '/socket.io/socket.io.js'}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %script{src: 'js/home.js'}

  .jumbotron
    %h1 My simple chat
    .form-horizontal
      %input.form-control#login{type:'text', placeholder: "Login as", required: ''}
      %input.btn.btn-primary#create{type:'button', value: 'Create Room'}

  .alert.alert-danger#login_alert.hidden
    You are not enter your login
  %body
    .row
      .col-md-1
      .well.col-md-10
        %h1 Rooms:
        #rooms
